body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BFD7ED;
}

.single-project{
    display: flex;
    flex-direction: column;
    background-color: #0290e9;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem;
}


/* Filter styling */
#filter-options-container{
    border: 1px solid black;
    display: flex;
}
#filter-by-author{
    padding: 0.5rem 0.8rem;
}
#filter-by-label{
    padding: 0.5rem 1rem;
}

#filter-by-name{
    margin-left: 36.5rem;
    padding-left: 0.8rem;
}

#filter-by-label{
    margin: auto;
}

#filter-options-container input[type=text]{
   
   border: 1px solid black;
   background: transparent;
   width: auto;
}

#filter-Buttons{
    display: flex;
    justify-content: space-between;
    
}

.filtre-form{
    display: flex;
    /* flex-direction: column; */
}

.Issueoptions{
    padding-right: 12rem;
}

.label-filter{
    display: flex;
    flex-direction: column;
}


.form-cotainer{
    visibility: hidden;
    display: none;
    background-color: whitesmoke;
    opacity: 0.95;
    color: blue;
}

#filter-Buttons button{
    display: flex;
    justify-content: center;
    width: 11rem;
    
}



.add-btn{
    background-color: #D22B2B;
    padding: 0.5rem 2rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin: auto;
}

h4{
    margin: auto;
    font-size: 1.3rem;
    font-weight: 300;
}

.project-name{
    font-size: 1.5rem;
    font-weight: 400;
}

h3{
    color: #007bff;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 5px;
}

.form-box{
    margin: 0rem 1rem;
    background-color: #007bff;
}

.main-container{
    width: 50rem;
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    background-color: white;
    color: white;
}

#filter-by-author-submit-btn{
    background-color: cyan;
}

.bugs{
    display: flex;
    justify-content: space-between;
}

.form-cotainer{
    width: 60%;
    margin: auto;
    position: fixed;
    top: 23%;
    left: 20%;
}

.values{
    margin:  0.5rem 0rem;
}

.labels{
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.options{
    margin-right: 0.7rem;
}
    
input[type=text]{
    outline: none;
    width: 18rem;
    height: 1rem;
}

.form-cotainer p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-labels p{
    margin: 1rem;
}

.issue-container, p, label{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.form-labels{
    display: flex;
    padding:  0.25rem;
    justify-content: space-between;
   
}

.issue-container{
    margin: 0.8rem;
    padding: 0.5rem;
    background-color: #0074B7;
}

.issue-details{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

