body{
    background-color: #bfd7ed;
}

.form-cotainer{
    visibility: hidden;
    display: none;
    float: left;
    
}
.add-btn{
    margin: auto;
    padding: 2px;

}

.showContainer{
    display: block;
    visibility: visible;
    background-color: whitesmoke;
    opacity: 0.95;
    color: blue;
    padding: 5px;
}

#project-container{
    overflow: hidden;
    margin: auto;
}

.inner-conteainer{
    padding: 10px;
    width: 70%;
    margin: auto;
    background-color: white;
}

.single-project{
    display: flex;
    padding-left: 0.5rem;
    background-color:#0290e9;
    border-bottom: 1px solid white;
}
a{
    text-decoration: none;
    color: white;
}

p{
    margin: 0;
    padding: 0;
}

.project-info{
    width: 92%;
}

.trash-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

#home-main-container{
    margin: auto;
    display: flex;
    text-align: center ;
    justify-content: center;
    flex-direction: column;
}

#submit-btn{
    padding: 0.5rem 2rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin-left: 40%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.details{
    font-size: 18px;
}

.project-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 0.8rem;
}
